/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Helpful editor https://nickcoutsos.github.io/keymap-editor/

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// | TAB      |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |     |
// | CTRL/ESC |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '  |
// | SHFT     |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ENT/SHFT  |
//                    | GUI | RSE | SPC |   | BKSP | LWR  | ALT |
                        bindings = <
   &kp TAB          &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC 
   &ht_tp LCTRL ESC &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LSHFT        &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &ht_hp RSHFT RET
                  &kp LGUI &mo 2 &kp SPACE   &kp BSPC &mo 1 &kp RALT
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB | BT0 |     |     |     |     |                      |lftTab| PGdn | PGup|rgtTab|     |      |
// | BTCLR| BT1 |     |     |     |     |                      | LFT  | DWN  | UP  | RGT |     |      |
// | SHFT | BT2 |     |     |     |     |                      |      |      |     |     |     |      |
//                    | GUI |     | SPC |                      | BKSP |      | ALT |
                        bindings = <
   &kp TAB    &bt BT_SEL 0 &trans &trans &trans &trans         &kp LC(TAB) &kp PG_DN &kp PG_UP & LS(LC(TAB)  &trans &kp BSPC
   &bt BT_CLR &bt BT_SEL 1 &trans &trans &trans &trans         &kp LEFT &kp DOWN  &kp UP    &kp RIGHT &trans &trans
   &kp LSHFT  &bt BT_SEL 2 &trans &trans &trans &trans         &trans   &trans    &trans    &trans    &trans &trans
                   &kp LGUI     &trans       &kp SPACE         &kp BSPC  &trans    &kp RALT
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |                   |  ^  |     |  7  |  8  |  9  |     |
// | CTRL |  {  |  [  |  (  |  -  |  =  |                   |  &  |  `  |  4  |  5  |  6  |  \  |
// | SHFT |  }  |  ]  |  )  |  _  |  +  |                   |  *  |  ~  |  1  |  2  |  3  | "|" |
//                    | GUI |     | SPC |                   | DEL |     |  0  |
                        bindings = <
   &kp  TAB  &kp EXCL &kp AT   &kp HASH &kp DLLR  &kp PRCNT   &kp CARET &trans  &kp N7  &kp N8 &kp N9 &trans
   &kp LCTRL &kp LBRC &kp LBKT &kp LPAR &kp MINUS &kp EQUAL   &kp AMPS  &kp GRAVE  &kp N4  &kp N5 &kp N6 &kp BSLH
   &kp LSHFT &kp RBRC &kp RBKT &kp RPAR &kp UNDER &kp PLUS    &kp ASTRK &kp TILDE  &kp N1  &kp N2 &kp N3 &kp PIPE
                             &kp LGUI &trans   &kp SPACE      &kp DEL   &trans    &kp N0
                        >;
                };
        };
};
